*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

button{
    padding: 10px;
}

.container{
    width: 70%;
    margin: 0 auto;
}

/* dropdown header and faq section rules */

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.dropdown-content a,p{
    background-color: white;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.answer{
    margin-top: 100px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.droplink {
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown-content a:hover {
    background-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color:#0093CE ;
}

/* header rules */

header{
    background-color: white;
    width: 100%;  
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{
    text-decoration: none;
    color: black;
}

header a:hover{
    color: #0093CE;
    text-decoration: underline;
}

.nav-left,.nav-right{
   display: flex;
   align-items: center;
   gap: 20px;
}

.blue-button{
    margin: 20px 0;
    background-color: blue;
    color: white;
    border-style: none;
}

.fa-arrow-down{
    padding: 20px 0;
    font-size: 30px;
} 

/* hero rules */
.hero{
    background-color: #B4D0E7;
    min-height: 400px;
    padding-top: 30px;
    margin-top: 80px;  
}

h1{
    font-size: 50px;
    margin-bottom: 20px;
}    

.hero-row{    
    display: flex;
    justify-content: space-between;     
}

.hero-info{
    width: 50%;     
}

.hero-info span{
    display: block;
}

.hero-image{
    width: 60%;
}

.hero-image img{
    max-width: 100%;
}

/* price section */
.price-intro{
    padding: 50px 0;
    line-height: 50px;   
}

.checkbox{
    margin-right: 30px;
}

/* price columns */
.price-row{
    display: flex;
    justify-content: space-between;
}

.price-col{    
    min-height: 850px;
    width: calc((100%/3) - 20px);   
    border: 1px solid grey;    
    line-height: 30px;      
}

li{
    list-style: none;   
}

li a{
    color: black;
    text-decoration: underline;
}

.price-title{
    width: 100%;
    border-bottom: 1px darkgrey solid;
    display: block;
    text-align: center;  
}
.plan{   
    padding: 20px 20px;
}

.info{
    border-bottom: 1px solid grey;
}

.pro span{ 
    font-weight: bold;   
}

.fa-check,.fa-circle-check{
    color: #0093CE;
}

.fa-user,.fa-folder,.fa-share-nodes,.fa-check,.fa-building,.fa-people-group{
    padding-right: 5px;
}

.grey{
    color: grey;
}

.center{
    width: 100%;
}

.tab-header{
    margin-top: 40px;
    padding: 10px;
    border: 1px solid grey;
    text-align: center;
}

.tab-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid grey;
    padding: 30px;
}

.tab-info{
    width: 70%;
}

.tab-info span{
    font-weight: bold;
    padding: 50px 0;   
}


/* partner section */
.partner{
    height: 400px;
    margin: 80px 0;
    display: flex;   
    
}

.partner img{
    max-width: 100%;
    padding-right: 30px;
}

.partner p{
    margin: 20px 0;
}

/* dropbox business section */

.funcitonability{ 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.funcitonability ul{
    width: calc(100%/3);
    padding: 30px 20px;
}

.funcitonability img{
    max-width: 100%;
}

.funcitonability h3{
    margin: 20px 0;
}

/* clients section */
.client-intro{   
    width: 60%;
    padding: 50px 0;    
}

.client-intro a{
    color: black;
    
}

.client-row{
    background-color: #B4D0E7;  
    display: flex;
}

.client-col{
    width: calc(100%/3);
    background-color:  #F5F5F5;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}

.overflow{
    padding:0 20px;
    overflow: auto;
}

.overflow > img{
    width: 125px;
}

.client-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
}

.white-button{
    background-color: white;
    border-style: none;
}

.square{
    width: calc(100%/2); 
    position: relative;        
}

.square > img{
    width: 125px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}
.green{
    background-color: #A2D39B;
}

.brown{
    background-color: #61082B;
}

.light-blue{
    background-color: #0093CE;
}

.red{
    background-color: #FF1C1C;
}

.dark-red{
    background-color: darkred;
}

.indigo{
    background-color: lightslategrey;
}

.blue{
    background-color: darkblue;
}

.yellow{
    background-color: yellow;
}

/* faq section */
.faq-section{
    padding: 70px 0;
}

.faq-section h2{
    padding-bottom: 40px;
    border-bottom: 1px solid darkgray;
}

.faq{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;   
    border-bottom: 1px solid darkgray;  
    transition:  height 1s;  
}

.faq:hover{
    height: 200px;
}
.answer:hover .panel{
    display: inline-block;
}

.panel{
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 10;
}

/* footer rules */
footer{
    background-color: black;
}

.footer-col{
    padding: 50px 0;    
    display: flex;
    justify-content: space-between;
}

.footer-col div{
    line-height: 30px;
}

.footer-col h2{
    color: white;
    text-decoration: none;
    padding-bottom: 20px;
}

.footer-col a{
    color: white;
    text-decoration: none;
}

.footer-col span{
    border-top: 1px solid white;
    padding-top: 20px;
    color: white;
}




