*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

button{
    padding: 5px;
}

.container{
    width: 60%;
    margin: 0 auto;
}

/* header rules */

header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-left,.nav-right{
   display: flex;
   align-items: center;
   gap: 20px;
}

.blue-button{
    background-color: blue;
    color: white;
    border-style: none;
}

/* hero rules */
.hero{
    background-color: #B4D0E7;
    min-height: 400px;
    padding-top: 30px;  
}

h1{
    font-size: 50px;
}    

.hero-row{    
    display: flex;
    justify-content: space-between;  
    
}

.hero-info{
    width: 50%;  
    
}

.hero-info span{
    display: block;
}

.hero-image{
    width: 60%;
}

.hero-image img{
    max-width: 100%;
}

/* price section */
.price-intro{
    padding: 50px 0;
    line-height: 50px;   
}

.price-row{  
    display: flex;
    justify-content: space-between;
}

.price-col{
    width: calc(100%/3) - 20px;
    margin: 0 10px;
    border: 1px solid grey;
    min-height: 300px;
    line-height: 30px;  
    padding: 0 15px; 
}

li{
    list-style: none;
    /* margin: 10px 0; */
}

.single-plan span{
    /* width: 100%; */
    text-align: center;   

}

.grey{
    color: grey;
}

/* partner section */
.partner{
    height: 400px;
    margin: 80px 0;
    display: flex;   
    
}

.partner img{
    max-width: 100%;
    padding-right: 30px;
}

.white-button{
    background-color: white;
}

/* dropbox business section */

.funcitonability{ 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.funcitonability ul{
width: calc( (100%/3) - 20px);
margin: 0 10px;
padding: 30px 20px;
}

.funcitonability img{
    max-width: 100%;
}

.funcitonability h3{
    margin: 20px 0;
}


/* footer rules */
footer{
    background-color: black;
}

.footer-col{
    padding: 50px 0;    
    display: flex;
    justify-content: space-between;
}

.footer-col div{
    line-height: 30px;
}

.footer-col h2,a{
    color: white;
}

.footer-col h2{
    padding-bottom: 20px;
}

.footer-col span{
    border-top: 1px solid white;
    padding-top: 20px;
    color: white;
}



/* debug rules */

/* header{
    background-color: blueviolet;
} */

.price-row{
    background-color: blueviolet;
}
