*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

button{
    padding: 10px;
}

.container{
    width: 60%;
    margin: 0 auto;
}

/* header rules */

header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header a{
    text-decoration: none;
    color: black;
}

.nav-left,.nav-right{
   display: flex;
   align-items: center;
   gap: 20px;
}

.blue-button{
    margin: 20px 0;
    background-color: blue;
    color: white;
    border-style: none;
}

.fa-arrow-down{
    padding: 20px 0;
    font-size: 30px;
}

/* hero rules */
.hero{
    background-color: #B4D0E7;
    min-height: 400px;
    padding-top: 30px;  
}

h1{
    font-size: 50px;
    margin-bottom: 20px;
}    

.hero-row{    
    display: flex;
    justify-content: space-between;  
    
}

.hero-info{
    width: 50%;  
    
}

.hero-info span{
    display: block;
}

.hero-image{
    width: 60%;
}

.hero-image img{
    max-width: 100%;
}

/* price section */
.price-intro{
    padding: 50px 0;
    line-height: 50px;   
}

.price-row{  
    display: flex;
    justify-content: space-between;
}

.price-col{
    width: calc(100%/3) - 20px;
    margin: 0 10px;
    border: 1px solid grey;
    min-height: 300px;
    line-height: 30px;  
    padding: 0 15px; 
}

li{
    list-style: none;
    /* margin: 10px 0; */
}

.single-plan span{
    /* width: 100%; */
    text-align: center;   

}

.grey{
    color: grey;
}

/* partner section */
.partner{
    height: 400px;
    margin: 80px 0;
    display: flex;   
    
}

.partner img{
    max-width: 100%;
    padding-right: 30px;
}

.partner p{
    margin: 20px 0;
}

/* dropbox business section */

.funcitonability{ 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.funcitonability ul{
    width: calc(100%/3);
    padding: 30px 20px;
}

.funcitonability img{
    max-width: 100%;
}

.funcitonability h3{
    margin: 20px 0;
}

/* clients section */
.client-intro{   
    width: 60%;
    padding: 50px 0;    
}

.client-intro a{
    color: black;
    
}

.client-row{
    background-color: #B4D0E7;  
    display: flex;
}

.client-col{
    width: calc(100%/3);
    background-color:  #F5F5F5;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}

.client-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;

}

.white-button{
    background-color: white;
    border-style: none;
}

.square{
    width: calc(100%/2);         
}

.green{
    background-color: #A2D39B;
}

.brown{
    background-color: #61082B;
}

.light-blue{
    background-color: #0093CE;
}

.red{
    background-color: #FF1C1C;
}

.dark-red{
    background-color: darkred;
}

.indigo{
    background-color: lightslategrey;
}

.blue{
    background-color: darkblue;
}

.yellow{
    background-color: yellow;
}
/* footer rules */
footer{
    background-color: black;
}

.footer-col{
    padding: 50px 0;    
    display: flex;
    justify-content: space-between;
}

.footer-col div{
    line-height: 30px;
}

.footer-col h2,a{
    color: white;
    text-decoration: none;
}

.footer-col h2{
    padding-bottom: 20px;
}

.footer-col span{
    border-top: 1px solid white;
    padding-top: 20px;
    color: white;
}



/* debug rules */

/* header{
    background-color: blueviolet;
} */

.price-row{
    background-color: blueviolet;
}
