*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

button{
    padding: 10px;
}

.container{
    width: 70%;
    margin: 0 auto;
}

/* header rules */

header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header a{
    text-decoration: none;
    color: black;
}

.nav-left,.nav-right{
   display: flex;
   align-items: center;
   gap: 20px;
}

.blue-button{
    margin: 20px 0;
    background-color: blue;
    color: white;
    border-style: none;
}

.fa-arrow-down{
    padding: 20px 0;
    font-size: 30px;
}

/* hero rules */
.hero{
    background-color: #B4D0E7;
    min-height: 400px;
    padding-top: 30px;  
}

h1{
    font-size: 50px;
    margin-bottom: 20px;
}    

.hero-row{    
    display: flex;
    justify-content: space-between;     
}

.hero-info{
    width: 50%;     
}

.hero-info span{
    display: block;
}

.hero-image{
    width: 60%;
}

.hero-image img{
    max-width: 100%;
}

/* price section */
.price-intro{
    padding: 50px 0;
    line-height: 50px;   
}

.price-row{
    display: flex;
    justify-content: space-between;
}

.price-col{    
    min-height: 850px;
    width: calc((100%/3) - 20px);
    margin: 0 10px;    
    border: 1px solid grey;    
    line-height: 30px;      
}

li{
    list-style: none;   
}

li a{
    color: black;
    text-decoration: underline;
}

.price-title{
    width: 100%;
    border-bottom: 1px darkgrey solid;
    display: block;
    text-align: center;  
}
.plan{   
    padding: 20px 20px;
}

.info{
    border-bottom: 1px solid grey;
}

.pro span{ 
    font-weight: bold;   
}

.fa-check,.fa-circle-check{
    color: #0093CE;
}

.fa-user,.fa-folder,.fa-share-nodes,.fa-check,.fa-building,.fa-people-group{
    padding-right: 5px;
}

.grey{
    color: grey;
}

.center{
    width: 100%;
}

.tab-header{
    margin-top: 40px;
    padding: 10px;
    border: 1px solid grey;
    text-align: center;
}

.tab-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid grey;
    padding: 30px;
}

.tab-info{
    width: calc(100%/2);
    /* line-height: 30px; */
}

.tab-info span{
    font-weight: bold;
    padding: 50px 0;   
}


/* partner section */
.partner{
    height: 400px;
    margin: 80px 0;
    display: flex;   
    
}

.partner img{
    max-width: 100%;
    padding-right: 30px;
}

.partner p{
    margin: 20px 0;
}

/* dropbox business section */

.funcitonability{ 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.funcitonability ul{
    width: calc(100%/3);
    padding: 30px 20px;
}

.funcitonability img{
    max-width: 100%;
}

.funcitonability h3{
    margin: 20px 0;
}

/* clients section */
.client-intro{   
    width: 60%;
    padding: 50px 0;    
}

.client-intro a{
    color: black;
    
}

.client-row{
    background-color: #B4D0E7;  
    display: flex;
}

.client-col{
    width: calc(100%/3);
    background-color:  #F5F5F5;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}

.overflow{
    padding-left: 20px;
    overflow: auto;
}

.overflow > img{
    width: 125px;
}

.client-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
}

.white-button{
    background-color: white;
    border-style: none;
}

.square{
    width: calc(100%/2); 
    position: relative;        
}

.square > img{
    width: 125px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.green{
    background-color: #A2D39B;
}

.brown{
    background-color: #61082B;
}

.light-blue{
    background-color: #0093CE;
}

.red{
    background-color: #FF1C1C;
}

.dark-red{
    background-color: darkred;
}

.indigo{
    background-color: lightslategrey;
}

.blue{
    background-color: darkblue;
}

.yellow{
    background-color: yellow;
}
/* footer rules */
footer{
    background-color: black;
}

.footer-col{
    padding: 50px 0;    
    display: flex;
    justify-content: space-between;
}

.footer-col div{
    line-height: 30px;
}

.footer-col h2,a{
    color: white;
    text-decoration: none;
}

.footer-col h2{
    padding-bottom: 20px;
}

.footer-col span{
    border-top: 1px solid white;
    padding-top: 20px;
    color: white;
}

/* faq section */
.faq-section{
    padding: 70px 0;
}

.faq-section h2{
    padding-bottom: 40px;
    border-bottom: 1px solid darkgray;
}

.faq{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;   
    border-bottom: 1px solid darkgray;
}


/* debug rules */

/* header{
    background-color: blueviolet;
} */
/* 
.price-row{
    background-color: blueviolet;
} */
